@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: normal;
	src: local('Circe'), url('./fonts/CRC55.woff') format('woff');
}

@font-face {
	font-family: 'Circe Light';
	font-style: normal;
	font-weight: normal;
	src: local('Circe Light'), url('./fonts/CRC35.woff') format('woff');
}

body {
	margin: 0;
	font-family: Roboto;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
